<!-- Top navigation -->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <span class="dasboard-text">
            <h5>Dashboard</h5>
        </span>
    </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard">
                            <i class="fas fa-user"></i>User Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="/history">
                            <i class="fas fa-history"></i>User History
                        </a>
                    </li>

                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link " (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
                <div class="pt-3 pb-2 mb-3 ">
                    <h1 class="h4">User Profile</h1>
                </div>

                <div class="card" style="width: 40rem; border-color: rgb(191, 202, 240);"
                    *ngIf="(user$ | async) as user">
                    <div class="card-body">
                        <div class="media-body">
                            <p>User Name: <strong>{{user.name}}</strong></p>
                            <p>Date : <strong>{{todayNumber | date}}</strong></p>
                            <p>Punch In Time: <strong>{{punchIn_Time | date:'mediumTime'}}</strong></p>
                            <p>Punch Out Time: <strong>{{punchOut_Time | date:'mediumTime'}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <button type="button" *ngIf="check_status" [disabled]="punchIn_Time" class="btn btn-labeled btn-danger"
                        (click)="punchInTime()">
                        <span class="btn-label"></span>Punch In</button> &nbsp;
                    <button type="button" *ngIf="punchIn_Time" [disabled]="punchOut_Time"
                        class="btn btn-labeled btn-danger" (click)="punchOutTime()">
                        <span class="btn-label"></span>Punch Out</button>
                </div>
            </div>
        </main>
    </div>
</div>