<!-- Top navigation -->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <span class="dasboard-text">
            <h5>Dashboard</h5>
        </span>
    </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/history">
                            <i class="fas fa-user"></i>User History
                        </a>
                    </li>

                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link " (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User Profile</h1>
                </div>

                <!-- Show user data when logged in -->
                <div class="row" *ngIf="(user$ | async) as user">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <p>User Name: <strong>{{user.name}}</strong></p>
                                <p>Date : <strong>{{todayNumber | date}}</strong></p>
                                <p>Punch In Time: <strong>{{punchIn | date:'mediumTime'}}</strong></p>
                                <p>Punch Out Time: <strong>{{punchOut | date:'mediumTime'}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="isVisible" class="btn btn-labeled btn-danger"
                            (click)="punchInTime()">
                            <span class="btn-label"></span>Punch In</button> &nbsp;
                        <button type="submit" [disabled]="!isVisible" class="btn btn-labeled btn-danger"
                            (click)="punchOutTime()">
                            <span class="btn-label"></span>Punch Out</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>