<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <span class="dasboard-text">
            <h5>Dashboard</h5>
        </span>
    </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard">
                            <i class="fas fa-user"></i>User Profile
                        </a>
                    </li>
                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User History</h1>
                </div>
                <!-- Show user data when logged in -->

                <div class="row" *ngIf="(user$ | async) as user">
                    <div class="col-md-12">
                        <div class="media">
                            <div class="media-body">
                                <p>User Name: <strong>{{user.name}}</strong></p>

                            </div>
                        </div>
                    </div>
                </div>

               <!--  <ul *ngFor="let post of attend | async">
                    <li>
                      <strong>{{ post.punchInTime}}</strong>
                      <br>
                      {{post.punchOutTime}}
                    </li>
                  </ul> -->
                  

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Punch In Time</th>
                            <th scope="col">Punch Out Time</th>
                            <th scope="col">Total Hours</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let attendance of attend1 | async">
                        <tr>
                            <td>{{attendance.id}}</td>
                            <td>{{attendance.data.punchInTime | date:'mediumTime'}}</td>
                            <td>{{attendance.data.punchOutTime | date:'mediumTime'}}</td>
                            <td>{{attendance.data.total_hours}} hours</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>